<header id="header" class="navigation-bar-header light hidden-xs">
  <div class="container">
    <nav class="navigation">
      <div class="navigation-txt visible-xs" data-toggle="dropdown">The Edgewater Group</div>
      <button class="navigation-toggle visible-xs" type="button" data-toggle="dropdown">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="navigation-bar navigation-bar-left">
        <li><a href="./"><img src="assets/img/blue-logo-small.png" alt="the edgewater group logo in blue" /></a></li>
        <li><a href="./advisory">Advisory Services</a></li>
        <li><a href="./capture">Capture Services</a></li>
        <li><a href="./proposal">Proposal Services</a></li>
      </ul>
    </nav>
  </div>
</header>
