html {
  min-height: 100%;
  position: relative;
}

.nav-header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo-header { height: 157px; }

.menu.menu-header {
  display: flex;
  align-items: 0;
  flex: 0 0 auto;
}

.menu-item {
  margin: 10px;
  font-size: 16px;
}

.menu-item a {
  color: #000;
}

.menu-item a:hover {
  color: #40499c;
}

#footer {
  display: flex;
  background-image:none;
  background-color: #d9d9d8;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 270px;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
}

#footer section {
  justify-content: center;
  align-content: center;
  flex: 0 0 auto;
  display: flex;
}

.spaced {
  margin: 20px;
}

body,
li.featured a { font-family: 'Roboto', sans-serif; font-weight: 300; font-style: normal; }

.navigation,
.nav-tabs li a { font-family: 'Roboto', sans-serif; font-weight: 200; font-style: normal; }

strong { font-family: 'Roboto', sans-serif; font-weight: 600; font-style: normal; }

body { color: #423629; font-size: 16px; background: #f7f7f7; margin: 0; margin-bottom: 270px; }
p {font-size:16px; line-height: 29px; font-weight:300;}
h1 { font-size: 112px; }
h2 { font-size: 78px; }
h3 { font-size: 62px; }
h4 { font-size: 50px; }
h5 { font-size: 40px; }
h6 { font-size: 30px; }
h7,.h7 { font-size: 24px; }
h8,.h8 { font-size: 22px; }
h1,h2,h3,h4,h5,h6,h7,h8,.h7,.h8 { font-weight: 100; display: block; }

h1, h2, h3 { margin-top: 20px; margin-bottom: 10px; }
h4, h5, h6 { margin-top: 20px; margin-bottom: 20px; }
h7, .h7, h8, .h8 { margin-top: 0; margin-bottom: 5px; }

a { color: #0084d2; text-decoration: none; }
a:hover, a:active, a:focus { color: #0084d2; text-decoration: underline; outline: none; }

::selection { background-color: #0084d2; color: #fff; }

.light { color: #fff; }
.dark { color: #423629; }
.highlight { color: #0084d2; }
.small {font-size:11pt;}

.hiding { opacity: 0; }
.visible { opacity: 1; }
.big {font-size:14pt;}
.center {text-align:center;}

.section { min-height: 350px; background-color: #fff; padding-bottom: 50px; padding-top: 50px; overflow: hidden; position: relative; text-align: center; }

/* Content */
.navigation-bar-header { background: #ffffff; position: relative; z-index: 1; }
.navigation-bar-header.sticky { position: fixed; top:0; display: block; width: 100%; z-index: 9; }
.sticky-wrapper { margin-top: 0px; height: 121px; }

.navigation { margin-left: -15px; margin-right: -15px; }
.navigation-bar { margin: 0 auto; padding: 0; list-style: none; text-align: left; display: table; }
.navigation-bar-left { float: left; width: 100%;}
.navigation-bar-right { float: right; }
.navigation-bar:after { content: ''; clear: both; }
.navigation-bar > li { display: inline-block; padding-bottom: 20px; padding-top: 20px; }
.navigation-bar > li a {
  font-size: 18px;
  color: #fff;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top: 10px; }
.navigation-bar > li a:Hover,
.navigation-bar > li a.active { color: #eee; text-decoration: none; }
.navigation-bar > li.active a { color: #eee; text-decoration: none; }

.navigation-bar > li.featured {opacity:0;  -webkit-transition: all .5s linear;-moz-transition: all .5s linear; transition: all .5s linear;}
.sticky .navigation-bar > li.featured {opacity:1;}

.navigation-bar > li.featured {padding-bottom: 22px; padding-top: 22px; margin-right: 25px; float: right; }
.navigation-bar > li.featured i{ padding-right: 10px;}

.navigation-bar > li.featured a {
  background:#0084d2;
  outline: 1px solid #0084d2;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 15px;
  margin-left: 15px;
  font-size: 14px; }
.navigation-bar > li.featured a:hover {background:#0084d2; color:#fff; outline:1px solid #0084d2;}
.navigation-social li { padding-top: 45px; padding-bottom: 15px; }
.navigation-social li a { font-size:15pt; padding-left: 20px; padding-right: 20px; }
.navigation-social { z-index: 100; position: relative; }

.navigation-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  z-index: 1;
  border: 1px solid; }
.navigation-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: #fff; }
.navigation-toggle .icon-bar+.icon-bar { margin-top: 4px; }

.section.blue { background: url('../img/blue.png') 50% 50% no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; min-height: 712px;}

.section.product { background: url('../img/product.png') 50% 50% no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; min-height: 712px;}

.section.mall { background: url('../img/dc-mall.png') 50% 50% no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; min-height: 712px;}

.section.partnership, .section.sustain, .section.gov-business {
  min-height: 132px;
  background-color: #5e6261;
  color: #fff;
}

.section.partnership h2, .section.sustain h2, .section.gov-business h2 { font-family: 'Lato', sans-serif; font-weight: 700; font-style: normal; font-size: 36px; }

.section.channel {
}

.flex-row {
  display: flex;
  align-items: center;
  text-align: left;
}

.content-wrapper {
  margin: 0 auto;
}
.icon-container svg {
  fill: #40499c;
  min-height: 36px;
  min-width: 36px;
}
.section.channel h2 { font-family: 'Lato', sans-serif; font-weight: 700; font-style: normal; font-size: 36px; color: #40499c}

.section.enable-choice, .section.service-categories {
  background-color: #f7f7f7;
}

.section h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  margin-bottom: 50px;
}

hr {
  border-bottom: 2px dotted rgba(0, 0, 0, 0.25);
  border-top: none;
}

.section.enable-choice .content-wrapper {
  flex-direction: row;
  display: flex;
  align-items: space-around;
  justify-content: center;
}

.column-text {
  width: 50%;
  margin: 10px;
}

.column-text p {
  text-align: left;
}

.icon-container {
  margin-top: 30px;
}

.section.compelling {
  background-color: #d9d9d8;
}
.section.compelling .content-wrapper {
  padding: 40px 100px;
}
.section.compelling p {
  margin-top: 20px;
  text-align: left;
}
.section.compelling h2 {
  line-height: 42px;
  margin-bottom: 50px;
}

.section.compelling h3 {
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.fixed-bg {
  background: url('../img/fixed-bg.png') 50% 50% no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: env(safe-area-inset-bottom, 0.5vh);
  height: 100%;
  padding: 150px 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}

.section.contact
{
  background-color: transparent;
  padding: 150px 0;
}

.section.mall {
  display: flex;
}
.section.contact .content-wrapper, .section.mall .content-wrapper {
  justify-content: center;
  display: flex;
  margin: auto;
}

.contact-info-block {
  max-width: 300px;
  background: #f7f7f7e3;
  border-radius: 5px 5px;
  padding: 30px;
}

.contact-info-block h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}

.section.next-nav .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px;
}

.section.next-nav a {
  background-color: #2f2f2f;
  color: #ffffff;
  display: block;
  padding: 10px 20px;
  border-radius: 3px;
  height: 46px;
}

.section.next-nav a:hover {
  background-color: #3a3a3a;
  text-decoration: none;
}

/* Desktop large screen */
@media (min-width: 1200px) {
  .content-wrapper {
    width: 1060px;
  }
}

/* Desktop small screen */
@media (min-width: 992px) {
  .content-wrapper {
    width: 880px;
  }
}

/* Tablet device */
@media (max-width: 991px) and (min-width: 768px) {
  .content-wrapper {
    width: 880px;
  }
}

/* Mobile device */
@media (max-width: 800px) {
  .nav-header--menu-left a { display: block; }
  .content-wrapper { width: auto; } /* So we can scale down to 300px */
  .navigation-bar-header-spacer { height: 0px !important; }
  .logo-header { height: 5vh; }

  .section.enable-choice .content-wrapper,
  .section.service-categories .content-wrapper {
    display: block;
  }

  #footer img { width: 50%; }

  .section.mall {
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background: url('../img/dc-mall.png') 80% 10% no-repeat;
    -o-background-size: cover;
    background-size: cover;
    min-height: 40vh;
  }

  .menu-item:first-child {
    font-size: 14px;
    display: none;
  }

  .section.partnership h2,
  .section.gov-business h2,
  .section.sustain h2 {
    font-size: 32px;
    padding: 0 28px;
  }

  .section {
    padding-bottom: 0;
    min-height: auto;
  }

  .flex-row {
    display: block;
    padding: 24px;
  }

  .channel img,
  .service-categories img {
    width: 100%;
  }

  .section.compelling .content-wrapper { padding: 20px; }
  .section.enable-choice .content-wrapper .column-text { padding: 20px; }
  .section.enable-choice .content-wrapper .column-text h2 { padding-left: 20px; }
  .column-text { width: 100%; }

  .section.enable-choice .content-wrapper .icon-container {
    left: 30px;
    position: relative;
    top: 84px;
  }

  .channel .content-wrapper {
    padding: 16px;
  }
}

@media (max-width:800px) and (orientation: landscape) {
  .logo-header { height: 15vh; }
}


@media (max-width: 480px) {
  .menu-item:first-child { display: none }
  .menu-item { font-size: 12px; }
}

/* Retina */
@media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
}
